<link rel="stylesheet" href="/stylesheets/style.css">
<div id="portada">
  <div class="row">
    <div class="col-4">
      <img src="/server{{coverpage}}" alt="" width="300px">
      <br>
      <div class="card text-left">
        <img id="imgprofile" class="card-img-top" src="{{photo}}" width="30px">
        <div class="card-body">
          <h4 class="card-title">Autor</h4>
          <p class="card-text">{{autor}}</p>
          <label for="">Actualizar foto </label>
          <button type="button" name="" id="updatebtn" data-toggle="modal" data-target="#uploaddata"
            class="btn btn-primary" btn-lg btn-block"><svg class="bi bi-wrench" width="1em" height="1em"
              viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019L13 11l-.471.242-.529.026-.287.445-.445.287-.026.529L11 13l.242.471.026.529.445.287.287.445.529.026L13 15l.471-.242.529-.026.287-.445.445-.287.026-.529L15 13l-.242-.471-.026-.529-.445-.287-.287-.445-.529-.026z" />
            </svg></button>

        </div>
      </div>
    </div>
    <div class="col-8">
      <form action="" id="formdata" method="post">
        <div class="form-group">
          <input type="hidden" name="id" id="" value="{{id}}">
          <label for="">Título del trabajo</label>
          <input type="text" class="form-control" name="title" id="" aria-describedby="helpId" placeholder=""
            value="{{title}}">
          <small id="helpId" class="form-text text-muted">Puede actualizar el título si lo ve conveniente</small>
        </div>
        <div class="form-group">
          <label for="">Autor del trabajo</label>
          <input type="text" class="form-control" name="autor" id="" aria-describedby="helpId" placeholder=""
            value="{{autor}}">
          <small id="helpId" class="form-text text-muted">Puede actualizar el autor de ser incorrecta la
            extracción</small>
        </div>
        <div class="form-group">
          <label for="">Tutor del trabajo</label>
          <input type="text" class="form-control" name="tutor" id="" aria-describedby="helpId"
            placeholder="Nombre del tutor" value="{{tutor}}">
          <small id="helpId" class="form-text text-muted">Puede actualizar el tutor de ser incorrecta la
            extracción</small>
        </div>
        <div class="form-group">
          <label for="">Número de páginas procesadas</label>
          <input disabled type="text" class="form-control" name="numberpage" id="" aria-describedby="helpId"
            placeholder="" value="{{numberpage}}">
          <small id="helpId" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="">Modalidad de Títulación </label>
          <div class="form-group">
            <label for=""></label>
            <select class="form-control" name="modalidad" id="modalidad" value="{{modalidad}}">
              <option value="Ninguno.">Ninguno.</option>
              <option value="Perfil">Perfil</option>
              <option value="Tesis">Tesis</option>
              <option value="Proyecto de Grado">Proyecto de Grado</option>
              <option value="Monografías">Monografías</option>
              <option value="bancodetemas">Banco de Temas</option>
            </select>
          </div>
          <small id="helpId" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="">Unidad Académica </label>
          <div class="form-group">
            <label for=""></label>
            <select class="form-control" name="unidad" id="unidad" value="{{unidad}}">
              <option value="Ninguno.">Ninguno.</option>
              <option value="Ninguno.">FATECIPOL (Fac. Técnica, pregrado).</option>
              <option value="ANAPOL (Pregrado).">ANAPOL (Pregrado).</option>
              <option value="CEFOTES (Posgrado).">CEFOTES (Posgrado).</option>
              <option value="ESCUELA SUPERIOR (Posgrado).">ESCUELA SUPERIOR (Posgrado).</option>
            </select>
          </div>
          <small id="helpId" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
          <label for="">Resumen</label>
          <div class="form-group">
            <label for=""></label>
            <textarea class="form-control" name="abstract" id="" rows="10">{{abstract}}</textarea>
          </div>

          <small id="helpId" class="form-text text-muted"></small>
        </div>
        <button type="submit" id="updateinfo" class="btn btn-primary">Actualizar Información<svg width="1em"
            height="1em" viewBox="0 0 16 16" class="bi bi-subtract" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z" />
          </svg></button>
        <a name="" id="deleteClick" class="btn btn-danger" href="#" role="button">Borrar Documento<svg width="1em"
            height="1em" viewBox="0 0 16 16" class="bi bi-trash2-fill" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2.037 3.225l1.684 10.104A2 2 0 0 0 5.694 15h4.612a2 2 0 0 0 1.973-1.671l1.684-10.104C13.627 4.224 11.085 5 8 5c-3.086 0-5.627-.776-5.963-1.775z" />
            <path fill-rule="evenodd"
              d="M12.9 3c-.18-.14-.497-.307-.974-.466C10.967 2.214 9.58 2 8 2s-2.968.215-3.926.534c-.477.16-.795.327-.975.466.18.14.498.307.975.466C5.032 3.786 6.42 4 8 4s2.967-.215 3.926-.534c.477-.16.795-.327.975-.466zM8 5c3.314 0 6-.895 6-2s-2.686-2-6-2-6 .895-6 2 2.686 2 6 2z" />
          </svg></a>
      </form>

    </div>

  </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Paginas</th>
      <th scope="col">Ver</th>
    </tr>
  </thead>
  <tbody>
    {{#content}}
    <tr>
      <td>{{page}}</td>
      <td>{{content}}</td>
      <td>@see</td>
    </tr>
    {{/content}}
  </tbody>
</table>
<div class="modal fade" id="alertboxdelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Desea borrar el documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Peligro!</h4>
          <p>Esta seguro que desea borrar el documento</p>
          <p>Comprenda que una vez borrado ya no se podrán usar los parrafos del mismo para otras revisiones.</p>
          <p><b>{{title}}</b></p>
          <p>{{id}}</p>
          <p class="mb-0"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" id="senddelete" class="btn btn-danger">Proceder</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="uploaddata" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar Foto de autor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-drop-zone" id="drop-zone">
          <div id="defaultmsn">
            Arrastra la foto de perfil que desea subir al servidor
          </div>
          <ul class="filesicon">
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" id="sendbtn" class="btn btn-primary">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<script type="module">
  import { UploadUi } from "/js/uploadui.js";
  $("#senddelete").on('click', (e) => {
    e.preventDefault();
    $("#alertboxdelete").modal('hide');
    document.getElementById("myNav").style.width = "100%";
    setTimeout(function () {
      fetch("/server/deletedocs/{{id}}", {
        method: "POST"
      }).then(
        response => response.text()// if the response is a JSON object
      ).then(
        success => {
          $("#maincontent").html(success);
          document.getElementById("myNav").style.width = "0%";
        }
      );
    }, 2000);
    /**/
  });
  $("#deleteClick").on("click", (e) => {
    e.preventDefault();
    $("#alertboxdelete").modal('show');
  });
  var p = new UploadUi("/server/uploadphoto/?idTesis={{id}}", SOCKETDATA, (data) => {
    var json = JSON.parse(data);
    $('#uploaddata').modal('hide');
    $("#imgprofile").attr("src", json.msn);
    //$("#maincontent").html(data.msn);
  });
  document.getElementById("modalidad").value = "{{modalidad}}";
  document.getElementById("unidad").value = "{{unidad}}";
  const formToJSON = elements => [].reduce.call(elements, (data, element) => {
    data[element.name] = element.value;
    return data;
  }, {});
  var formdata = document.getElementById("formdata");
  formdata.addEventListener("submit", (e) => {
    var data = formToJSON(formdata.elements);
    console.log(data);
    e.preventDefault();
    var misCabeceras = new Headers();
    fetch("/server/updatebook", {
      method: "POST",
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    }).then(
      response => response.text()// if the response is a JSON object
    ).then(
      success => {
        alert("Datos Actualizados!")
      }
    )
    return false;
  });

</script>