<div class="alert alert-primary" role="alert">
  <h4 class="alert-heading">Aquí podrá agregar  nuevos trabajos de investigación.</h4>
  <p>  Las investigaciones que formarán parte de la base de datos son extraídos meticulosamente página por página, codificados en texto plano para su posterior procesamiento, ya sea en motores de búsqueda verificadores de plagio, etc. 
  </p>
  <hr>
  <p class="mb-0">El codfificador solo soporta PDF</p>
</div>
<link rel="stylesheet" href="/stylesheets/style.css">
<form action="" method="post">
    <div class="upload-drop-zone" id="drop-zone">
        <div id="defaultmsn">
          Arrastra el pdf de la tesis que desa subir a la base de datos
        </div>
        <ul class="filesicon">
        </ul>
    </div>
    <button type="submit" id="sendbtn" class="btn btn-primary">Enviar</button>
</form>
<script src="/js/uploadui.js" type="module"></script>
<script type="module">
  import { UploadUi } from  "/js/uploadui.js";
  var p = new UploadUi("/server/upload", SOCKETDATA, ROOMDATA,(data) => {
    $("#maincontent").html(data);
  });
</script>